div.ui-datepicker{
 font-size: 1.0em;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* event form */
#event-detail-fields li {
  border: none;
  clear: both;
}
#event-detail-fields label {
  width: 10em;
  text-align: right;
  float: left;
  padding-top: 20px;
  margin-right: 10px;
}

#event-detail-fieldset {
  border: none;
}

#event-detail-fields textarea {
  width: 506px;
  height: 100px;
}

#event-detail-fields #event_name, 
#event-detail-fields #event_venue,
#event-detail-fields #event_full_address,
#event-detail-fields #event_tags {
  width: 500px;
  padding: 4px;
}

#event-detail-fields #event_start_date {
  width: 228px;
  padding: 4px;
}
#event-detail-fields #event_end_date {
  width: 100px;
  padding: 4px;
  float: none;
}

#remove-end-time, #add-end-time
{
  display:none;
  color: gray;
  float: left;
  font-size: 14px;
  line-height: 36px;
  margin-right: 10px;
  text-decoration: underline;
}