<div data-role="header">
  <h1>Events</h1>
</div>
<div data-role='content'>
  <ul id='events-list' data-role="listview" data-theme="b" data-inset='true'>
    <% for event in @events -%>
      <li>
        <a href="<%= (Event === event) ? mobile_event_path(event) : event.url %>" <%= "target='new'" unless Event === event %>>
          <%= (Event === event) ? content_tag(:i, event.name) : event.name %> - <%= number_with_precision(event.distance_from(@geocode), :precision => 1) %> miles
        </a>
      </li>
    <% end -%>
  </ul>
</div>