<div data-role='header'>
  <h1>Nearby This</h1>
</div>
<div data-role='content'>
  <input type='text' value='Type address city, state'/>
  <input type='submit' value='Search Nearby'/>
  <center>or</center>
  <button>Use My Location</button>
</div>