<div id="facebook_page" style="display:none;">
  <h2>Edit Facebook Page</h2>
  <%= form_for(@location) do |f| %>      
    <div class="field">
      <%= f.label :facebook_page_id %><br />
      <%= f.text_field :facebook_page_id %>
    </div>
    <div class="actions">
      <%= f.submit "Update Facebook Page" %>
    </div>
  <% end %>
</div> 