<% @place_responses['results'].each do |response| %>
  <ul>
    <li> 
      <%= link_to response['name'], :action => 'details', :reference => response['reference']%> 
      <%= "- #{response['vicinity']}" unless response['vicinity'].blank? %>
    </li>
  </ul>   
<% end %>