<div class='content'>
  <div class='input_form'>
    <h2>Edit Location</h2>

    <%= render 'form' %>

    <%= link_to 'Show', location_details_path(:reference => @location.reference) %> |
    <%= button_to 'Delete', @location, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to 'Back', locations_path %>
  </div>
</div>