<table>


	<% for i in 0..19%>
	<ul>
		<li> <%= link_to @features['results'][i]['name'], :action => 'details',  :reference => @features['results'][i]['reference']%></li>
	</ul> 
<% end %>	

<% if alllocations? %>
<% @alllocations.each do |location| %>
  <ul>
    <li><%= link_to location.name, :action => 'details', :id => location.id %> - <img src="http://www.1nservice.com/uploadedImages/1NService/Home/twitter_logo.jpg" width="22"/></li>
</ul>
  </tr>
<% end %>
<% end %>
</table>