<%- @title = "About NearbyThis" %>
<div class='info-page' id='about' data-title="<%= @title %>">
  <div class="top_info_sec">
    <h2>
      Looking to Explore Something—Right Here, Right Now?
    </h2>
    <p>
      NearbyThis is the mobile hub providing diners, shoppers and event-goers timely
      information on things to explore nearby.
    </p>

    <h5>
      Classes? Concerts? Dinner? Dancing?
    </h5>
    <p>
      NearbyThis is the only location-based service that offers listings of nearby
      places or events with realtime social media postings and aggregated daily deals.
    </p>

    <p>
      With NearbyThis, figuring out what to do Right Here, Right Now™ is easy:
      <ul>
        <li>Find up-to-date info on nearby restaurants, not outdated reviews.</li>
        <li>Learn about new things to do nearby, without having to search multiple apps.</li>
        <li>Save money on it all with daily deals such as Groupon and ScoutMob—on one site!</li>
      </ul>
    </p>

    <p>
      Founded in 2011 in Atlanta, NearbyThis is available on iPhone and will soon be released on Android.
    </p>

    <h5>
      What are you waiting for? You can get started with no signup!
    </h5>
  </div>
</div>