<%- @title = "Advertise with NearbyThis" %>
<div class='info-page' id='advertise' data-title="<%= @title %>">
  <div class="top_info_sec">
    <div>
      <h2>Reach Customers When They’re Nearby Your Products</h2>
      <p>From cafés to coffee houses and festivals to farmers’ markets…</p>
      <p>
        If your products are sold at places or events close to a NearbyThis
        mobile user, your brand can now be prominently visible. It’s called
        geo-targeted co-op advertising, and NearbyThis is the only app that specializes in it.
      </p>
      <p>
        Whether a consumer is nearby a store or a salon, geo-targeted co-op 
        advertising is substantially more effective than any print ad. And 
        NearbyThis is substantially more effective than other mobile or online
        advertising platforms:
      <p>
      <ul>
        <li>It’s the only app that offers listings with realtime social media postings and aggregated daily deals.</li>
        <li>It offers smartphone users up-to-date info on places such as restaurants—not outdated reviews.</li>
        <li>It integrates daily deals such as Groupon and ScoutMob directly into listings—limiting the potential for users to switch apps.</li>
        <li>It offers several ways for brands to connect to consumers—by category, location or store name.</li>
      </ul>
      <p>
        You can now easily and affordably target consumers more precisely than 
        Sunday pullouts or search engine advertising.
      </p>
      <p>
        Don’t spend money reaching random consumers. Reach the best ones 
        Right Here, Right Now™ with NearbyThis.
      </p>
      <a href="http://www.slideshare.net/nearbythis/media-kit-13098812" target="_blank">Click Here To Request Media Kit</a>
    </div>
  </div>
</div>