<div id='index-right-content'>
  <div class="one_step">
    <p>
    Your one stop app for deals,  dining, shopping and events to explore nearby. 
    </p>
  </div>
  <div class="applction_box">
    <img src="images/phone.jpg" width="178" height="347" alt="" class="flt_Lt"/>
    <div class="applction_txt flt_Lt ">
      <div class="txt1">
        <h4>Take Us With You.</h4>
        <p>Download our mobile app from the app store to explore nearby deals, specials and events.</p>
      </div>
      <a href="http://itunes.apple.com/us/app/nearbythis/id524674214?mt=8" class="app_store" target='_blank'><img src="images/app_stor_06.jpg" width="130" height="47" alt=""></a>
      <a href="http://itunes.apple.com/us/app/nearbythis/id524674214?mt=8" target='_blank'><img src="images/qr_code.png" alt=""></a>
    </div>
    <div class="clear_0">&nbsp;</div>
  </div>
</div>