<%- @title = "NearbyThis-Press" %>
<div class='info-page' id='press' data-title="<%= @title %>">
  <div class="top_info_sec">
   <h2>Press</h2>
   <ul>
   	<li><h3><a href="http://tastemakermag.com/brothatech-tuesdays-nearbythis-realtime-events-and-deals-app-minus-the-spam">TasteMaker Magazine June 11, 2012</a></h3></li>
   	<li>
   		<h3><a href="http://www.examiner.com/article/nearbythis-launches-social-local-mobile-app-for-iphone">The Examiner June 4, 2012</a></h3>
   	</li>
   	<li><h3><a href="http://www.examiner.com/article/atlanta-startup-to-release-nearbythis-app-at-virginia-highland-summerfest">The Examiner May 31, 2012</a></h3></li>
   </ul>
  </div>
</div>