<%- @title = "NearbyThis-Press" %>
<div class='info-page' id='press' data-title="<%= @title %>">
  <div class="top_info_sec">
   <h2>Press</h2>
   <ul>
   	<li><h3><a href="https://www.yousendit.com/download/QlVneUNLV3IyWGRvZE1UQw" target="_blank">Bone Up On Business Radio Interview July 28, 2012</a></h3></li>
    <li><h3><a href="http://tastemakermag.com/brothatech-tuesdays-nearbythis-realtime-events-and-deals-app-minus-the-spam" target="_blank">TasteMaker Magazine June 11, 2012</a></h3></li>
    <li><h3><a href="http://www.examiner.com/article/nearbythis-launches-social-local-mobile-app-for-iphone" target="_blank">The Examiner June 4, 2012</a></h3></li>
    <li><h3><a href="http://www.examiner.com/article/atlanta-startup-to-release-nearbythis-app-at-virginia-highland-summerfest" target="_blank">The Examiner May 31, 2012</a></h3></li>
   </ul>
  </div>
</div>