<!DOCTYPE html>
<html>
  <head>
    <title>NearbyThis</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc3/jquery.mobile-1.0rc3.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0rc3/jquery.mobile-1.0rc3.min.js"></script>
    <%= csrf_meta_tag %>
  </head>
  <body onload="<%= "initialize()" unless location.nil? %>" onunload="GUnload();">    
    <%= yield :layout %>
  </body>
</html>